<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Django Lab</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>
<body class="grey lighten-4">
  <nav>
    <div class="nav-wrapper blue">
      <a href="/" class="brand-logo center" style="font-size: 40px; font-family: Lobster">Django Blog</a>
      <ul class="right">
        <li><a href="{% url 'post_new' %}" style="font-size: 20px; font-family: Lobster">Post</a></li>
        <!-- <li><a href=""></a></li> -->
      </ul>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
</body>
</html>